<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <title>Weather Page</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <script type="text/javascript" src='/js/index.js'></script>
</head>
<body>
  <div class="container">
    <h1>Welcome to The Weather Page!</h1>
    <h3>
    <p>
      Find out what excitng temperature your city is currently at.
    </p>
    <p>
      Either:
      <ul>
      <li>
        Type in your city name in the field below, or
      </li>
      <li>
        Enable your microphone and simply say your city name
      </li>
      </ul>
    </p>
    <p>
      Regretfully, you *mist* use Google Chrome for speech to text recognition.
    </p>
    </h3>
    <fieldset>
      <form action="/" method="post">
        <input id='city' name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
        <input id='btn' type="submit" class="ghost-button" value="Get Weather">
      </form>
      <% if(weather !== null){ %>
        <p><%= weather %></p>
      <% } %>

      <% if(error !== null){ %>
        <p><%= error %></p>
      <% } %>
    </fieldset>
  </div>

  <script type="text/javascript">

const onAnythingSaid = text =>
  console.log(`Interim text: ${text}`)

const onFinalised = text =>{
  var input =  document.getElementById('city')
  input.value = text
  var l = document.getElementById('btn')
  l.click()
}

     if (!('webkitSpeechRecognition' in window)) {
  throw new Error("This browser doesn't support speech recognition. Try Google Chrome.")
    }
  try {
  const listener = new SpeechToText(onAnythingSaid, onFinalised);
  listener.startListening()
} catch (error) {
  console.log(error)
}
  </script>

</body>
</html>
